/* global classes */
.main_container{
    width: 65%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: black; 
}

.center_box{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    padding-top: 80px;
    background-color: white;
}

/* home */
.profile_mini{
    position: fixed;
    top: 10%;
    left: 82.5%;
    margin: 0 auto;
    padding: 0 auto;
    background-color: grey;
}

/* signup */
.form_box{
    width: 50%;
    height: 50%;
    margin: 0 auto;
    padding: 0 auto;
    background-color: limegreen;
}

.login_form{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
    padding: 0 auto;
}

/* profile */
.profile_box{
    width: 80%;
    height: 80%;
    margin: 0 auto;
    padding: 0 auto;
}